@model Negrito.Models.Agendamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome_Paciente" class="control-label"></label>
                <select asp-for="Nome_Paciente" class ="form-control" asp-items="ViewBag.Nome_Paciente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome_Profissional" class="control-label"></label>
                <select asp-for="Nome_Profissional" class ="form-control" asp-items="ViewBag.Nome_Profissional"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

