@{
    ViewData["Title"] = "Beneficiario";
}
<h1>Saiba como ser atendido por um profissional da saúde mental</h1>

<p>Faça seu cadastro e busque uma pessoa especialista em saúde da mente</p>

    <!-- ====== Beneficiario Section ====== -->
    <section id="beneficiario" class="beneficiario">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2 beneficiario-img">
          <img src="~/Images/therapy.png" class="img-fluid" alt="">
          </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
        <h3>Pronto para começar sua jornada no bem-estar mental?</h3>
          <p class="fst-italic">
            Veja em nosso mapa abaixo onde encontrar lugar para atendimento com profissionais da saúde mental.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
       </div>
      </div>
    </section>
    <!-- End Beneficiario Section -->

    <!-- ====== Cta Section ====== -->
    <section id="cta" class="cta d-flex align-items-center">
      <div class="container">

        <div class="text-center">
          <h3>Faça aqui seu cadastro</h3>
          <p> Responda o formulário para receber um email atualizado todos os meses com a lista de lugares na sua cidade que possuem atendimento para a saúde mental que oferecem serviços gratuitos ou a valor social.</p>
          <a asp-area="" asp-controller="Pacientes" asp-action="Create" class="cta-btn">Cadastro</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ===== Mapa Section ===== -->
    <section>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./site.js"></script>
   
    <h3>Onde encontrar consultas gratuitas ou a valor social na sua cidade</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoHYyAAscHMEYpJOt99X7LMY61ioZWeZc&callback=initMap"
      async
    ></script>
    </section>
    <!------ End Mapa Section ------->

    <!-- ====== Profissionais Section ====== -->
    <section id="profissionais" class="profissionais section-bg">
    <div class="container">

        <div class="section-title">
          <h2>Atendimentos</h2>
          <p>Atendimentos gratuitos ou a valores sociais que já estão cadastrados em nossa plataforma</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" alt="">
              <h4>Serviço de Apoio Psicológico Remoto</h4>
              <span>Aracaju</span>
              <span2>Sergipe</span2>
              <p>
                (79) 3304-3599 ou 0800 729-3534, de segunda a sexta-feira, das 8h às 20h - gratuito
              </p>
              <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
            </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-2.jpg" alt="">
              <h4>Cuidados Psicológicos no Contexto da Pandemia</h4>
              <span>Belo Horizonte</span>
              <span2>Minas Gerais</span2>
              <p>
                Os Agendamentos das consultas devem ser feitos nos centros de saúde de BH - gratuito
              </p>
              <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-3.jpg" alt="">
              <h4>Associação Paranaense de Terapia Familiar</h4>
              <span>Curitiba</span>
              <span2>Paraná</span2>
              <p>
                gratuito
              </p>
            <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
          </div>
        </div>
      </div>
   </section>
   <!-- End Cta Section -->