@{
    ViewData["Title"] = "Beneficiario";
}
<h1>@ViewData["Title"]</h1>

<p>Faça seu cadastro e busque uma pessoa especialista em saúde da mente</p>

<section id="beneficiario" class="beneficiario">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2 beneficiario-img">
          <img src="~/Images/therapy.png" class="img-fluid" alt="">
       </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Pronto para começar sua jornada no bem-estar mental?</h3>
            <p class="fst-italic">
              Encontre terapeutas confiáveis e culturalmente competentes que conheçam nossos sentimentos e possam ajudar.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
        </div>
    </section>
    <!-- End Beneficiario Section -->

        <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta d-flex align-items-center">
      <div class="container">

        <div class="text-center">
          <h3>Faça aqui seu cadastro</h3>
          <p> Depois de enviar o formulário abaixo, um membro de nossa equipe enviará um e-mail diretamente com nosso questionário correspondente e informações adicionais.</p>
          <a asp-area="" asp-controller="Pacientes" asp-action="Create" class="cta-btn">Cadastro</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <section id="profissionais" class="profissionais section-bg">
    <div class="container">

        <div class="section-title">
          <h2>Terapeutas especializados</h2>
          <p>Encontre um ótimo terapeuta especializado</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" alt="">
              <h4>Ana Cardoso Rodrigues</h4>
              <span>Psicóloga</span>
              <span2>ela/dela</span2>
              <p>
                Eu priorizo a construção e a manutenção de uma relação com meus clientes, para que eles se sintam confiantes de que este é um espaço seguro. Meus clientes são os especialistas em suas vidas, e eu trabalho a partir de uma abordagem centrada no cliente para ajudá-los a experimentar ganhos significativos. Também trabalho com comunidades LGBTQI+ e aquelas com uma interseção de grupos marginalizados pela sociedade.
              </p>
              <p>
                 Minhas especialidades incluem transições de vida, recuperar prazeres na vida cotidiana, preparar-se para a maternidade e paternidade, luto e perda em torno da gravidez, e quebras de confiança e comunicação. Sinta-se livre para entrar em contato comigo para uma chamada de consulta gratuita se você quiser colaborar na melhoria de qualquer uma dessas áreas da sua vida.
              </p>
              <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
            </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-2.jpg" alt="">
              <h4>Beatriz Rodrigues Dias</h4>
              <span>Psicóloga</span>
              <span2>ela/dela</span2>
              <p>
                Como mulher negra, reconheço que pode haver espaços em que nem todas as pessoas negras se veem refletidas neles. A terapia historicamente é um desses espaços. Minha esperança é que se você é uma pessoa negra ou uma pessoa que valoriza a diversidade em sua vida, eu possa lhe proporcionar um ambiente em que você se sinta seguro, visto e ouvido. 
              </p>
              <p>
                  Trabalho em colaboração com meus clientes e acredito que você é o especialista em sua vida. Meu papel é ser um guia que possa trazer novas formas de pensar e se envolver com questões que podem estar no seu caminho. Obrigada por ter tempo para explorar como a terapia pode ser benéfica em sua vida. Estou ansiosA para ouvir de você.
              </p>
              <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/team-3.jpg" alt="">
              <h4>Leonardo Fernandes Oliveira</h4>
              <span>Psicólogo</span>
              <span2>ela/dela</span2>
              <p>
                Se você está considerando a terapia, pode ser que você esteja sentindo que não está fazendo jus ao seu potencial, não encontrando a conexão que você quer em relacionamentos, ou geralmente se sentindo preso, ansioso ou frustrado sem saber por quê. Sentimentos como esses são mais comuns do que você pensa, e a terapia pode ajudá-lo a seguir em frente com mais autoconsciência e confiança.
              </p>
              <p>
                Entre em contato se você quiser ajuda com:
                </p>
                <ul>
              <li><i class="bi bi-check-circle"></i> estabelecer limites saudáveis;</li>
              <li><i class="bi bi-check-circle"></i> esclarecer suas necessidades no relacionamento;</li>
              <li><i class="bi bi-check-circle"></i> construir resiliência à vergonha, rejeição e crítica, ou seu próprio crítico interno;</li>
              <li><i class="bi bi-check-circle"></i> mudanças que aumentem a autoestima, autonomia e confiança;</li>
              <li><i class="bi bi-check-circle"></i> reflexão sobre questões de identidade, propósito e significado.</li>
            </ul>
            <a asp-area="" asp-controller="Agendamentoes" asp-action="Create" class="member-btn">Agendamento</a>
            </div>
          </div>
        </div>
      </div>
   </section>