@{
    ViewData["Especialista"] = "Especialista";
}
<h1>@ViewData["Especialista "]</h1>

<p>Faça seu cadastro e crie sua agenda de atendimento</p>

<section id="especialista" class="especialista">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 especialista-img">
            <img src="Images\therapy.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>É um profissional da saúde mental alinhado à proposta da NEGRITO?</h3>
            <p class="fst-italic">
              Faça seu cadastro que entraremos em contato.
            </p>
            <a asp-area="" asp-controller="Profissionals" asp-action="Create" class="cta-btn">Cadastro</a>
           </div>
        </div>
    </div>>
</section>