@{
    ViewData["Title"] = "Home Page";
}

<section id="capa" class="d-flex align-items-center">
<div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2 capa-img">
          <img src="~/Images/therapy.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column content">
          <h1>Ser visto, ser ouvido e ser compreendido.</h1>
          <h2>Saúde mental não deve ser um privilégio</h2>
          <div class="d-flex">
            <a href="Home/Beneficiario" class="btn-get-started scrollto">Encontre um local para ser atendido</a>
          </div>
        </div>  
      </div>
</div>
</section>
<!-- End Capa -->
      <div class="section-title">
          <h2>A saúde mental da população negra importa!</h2>
          <p>O grito de um é a soma do grito de muitos.<p/>
          <p>A NEGRITO grita utilizando-se da escuta e facilitação no acesso aos cuidados da saúde mental da população negra.</p>
          <p>NEGRITO apresenta-se como um espaço virtual dedicado a incentivar o bem-estar das pessoas negras, auxiliando-as a encontrar profissionais negros e/ou com competências multiculturais a valores sociais.</p>
          <p></p>
      </div>



